@model IEnumerable<WebApplication1.Models.CheckPaymentRequestAttemp>

@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Master.cshtml";
}

<div class="text-center" style="border-style:solid;">
	<h2 style="font-size:medium">درخواست های پرداخت چکی</h2>
</div>
<br />

<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover text-center">
					<tr>
						<th>
							شخص متقاضی
						</th>
						<th>
							@Html.DisplayNameFor(model => model.CheckPaymentRequestAttempStatus)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.CreatedDate)
						</th>
				
						<th>عملیات</th>
					</tr>

					@foreach (var item in ViewBag.Data.Data)
					{
						<tr>
							<td>
								@item.MarketerUser.Name @item.MarketerUser.LastName
							</td>
							@if (item.CheckPaymentRequestAttempStatus == WebApplication1.Models.CheckPaymentRequestAttempStatus.Waiting)
							{
								<td style="background-color:rgba(186, 184, 104, 0.59)">
									درحال برسی
								</td>
							}
							@if (item.CheckPaymentRequestAttempStatus == WebApplication1.Models.CheckPaymentRequestAttempStatus.Rejected)
							{
								<td style="background-color:#9d5555">
									تایید نشده
								</td>
							}
							@if (item.CheckPaymentRequestAttempStatus == WebApplication1.Models.CheckPaymentRequestAttempStatus.Confirm)
							{
								<td style="background-color:rgba(76, 165, 54, 0.55)">
									تایید شده
								</td>
							}
							<td>
								@WebApplication1.Areas.Admin.Utility.DateChanger.ToPersianDateString(item.CreatedDate)
							</td>
		

							<td>
								@{

									if (item.CheckPaymentRequestAttempStatus != WebApplication1.Models.CheckPaymentRequestAttempStatus.Confirm)
									{

										<a class="btn btn-primary" href="/Admin/CheckPaymentRequestAttemps/Details/@item.Id"> مشاهده و تخصیص مجوز</a>
									}
									else
									{
										<a class="btn btn-primary" href="/Admin/CheckPaymentRequestAttemps/Details/@item.Id"> مشاهده </a>

									}
								}
							</td>
						</tr>
					}

				</table>
			</div>
		</div>
		@Html.Raw(ViewBag.Data.GetLinks())

	</div>
</div>

