@{
    Layout = "~/Views/Shared/Master.cshtml";
}
    <section class="main-slider">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8">
                    <!-- main slider -->
                    <div class="main-slider__slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <!-- main slider item -->
                                @{ var list = new WebApplication1.Models.DBContext().SiteSliders.OrderByDescending(p => p.Id).ToList();}
                                @for (int i = 0; i < list.Count; i++)
                                {
                                    <div class="swiper-slide">
                                        <a href="@list[i].Link" title=""><img src="@list[i].Image" title="" alt=""></a>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <!-- special banner -->
                    <div class="main-slider__specials">
                        <a href="#" title=""><img src="~/Content/NewDesign/assets/img/banner_3.jpg" title="" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product product--slider product--special">
        <div class="container">
            <div class="section-title">
                <!-- product slider title -->
                <h3>پیشنهاد ویژه</h3>
                <a href="#" title=""><i class="at-arrow-left"></i>بیشتر</a>
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">

    

                <!-- product slider item -->
                <div class="swiper-slide">
                    <p>h</p>
                    @*<div class="product__item">
                        <div class="product__image">
                            <img src="./assets/img/item_1.jpg" title="" alt="">
                        </div>
                        <div class="product__title">
                            <h2>دوربین دیجیتالی کانن</h2>
                        </div>
                        <div class="product__price">
                            <span class="product__price__old">5,250,000<span>تومان</span></span>
                            <span>4,950,000<span>تومان</span></span>
                        </div>
                        <div class="product__countdown">
                            <span>
                                <i class="at-timer"></i>
                                <span data-countdown="2020-08-02 20:12:00"></span>
                            </span>
                        </div>
                        <a href="#" title=""></a>
                    </div>*@
                </div>
      
            </div>
        </div>
    </section>
    <section class="banner">
        <div class="container">
            <div class="row">
                @{
                    var db2 = new WebApplication1.Models.DBContext();
                    var banners2 = db2.Banners.Where(p => p.Type == 1).ToList();
                    int ii = 0;
                    foreach (var b in banners2)
                    {
                        if (ii == 0)
                        {
                            <div class="col-lg-6">
                                <div class="banner__item">

                                    <a href="@b.Link" title=""><img src="@b.Image" alt="" title="" style="width:100%;height:217px;border-radius:5px;"></a>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="col-lg-6">
                                <div class="banner__item">

                                    <a href="@b.Link" title=""><img src="@b.Image" alt="" title="" style="width:100%;height:217px;border-radius:5px;"></a>
                                </div>
                            </div>
                 
                        }

                        ii++;
                    }
                }

            </div>
        </div>
    </section>
    <section class="product product--slider">
        <div class="container">
            <div class="section-title">
                <h3>جدیدترین ها</h3>
                <a href="#" title=""><i class="at-arrow-left"></i>بیشتر</a>
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var prod in ViewBag.Latest)
                {
                    <div class="swiper-slide">
                        <div class="product__item">
                            <div class="product__image">
                                <img src="./assets/img/item_1.jpg" title="" alt="">
                            </div>
                            <div class="product__title">
                                <h2>دوربین دیجیتالی کانن</h2>
                            </div>
                            @if (prod.Discount > 0)
                            {
                                <div class="product__price">
                                    <span class="product__price__old">@string.Format("{0:0,0}", prod.Price)<span>تومان</span></span>
                                    <span>@(string.Format("{0:0,0}", prod.Price - prod.Discount))<span>تومان</span></span>
                                </div>
                            }
                            else
                            {
                                <div class="product__price">
                                    <span class="product__price__old">@string.Format("{0:0,0}", prod.Price)<span>تومان</span></span>

                                </div>
                            }

                            <a href="/Products/Index?Id=@prod.Id" title=""></a>
                        </div>
                    </div>
                }

            </div>
        </div>

        <section class="product product--slider">
            <div class="container">
                <div class="section-title">
                    <h3>محبوب ترین ها</h3>
                    <a href="#" title=""><i class="at-arrow-left"></i>بیشتر</a>
                </div>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product__item">
                            <div class="product__image">
                       
                                <img src="~/Content/NewDesign/assets/img/item_1.jpg" title="" alt="">
                            </div>
                            <div class="product__title">
                                <h2>دوربین دیجیتالی کانن</h2>
                            </div>
                            <div class="product__price">
                                <span class="product__price__old">5,250,000<span>تومان</span></span>
                                <span>4,950,000<span>تومان</span></span>
                            </div>
                            <a href="#" title=""></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product__item">
                            <div class="product__image">
                                <img src="~/Content/NewDesign/assets/img/item_1.jpg" title="" alt="">
                            </div>
                            <div class="product__title">
                                <h2>دوربین دیجیتالی کانن</h2>
                            </div>
                            <div class="product__price">
                                <span class="product__price__old">5,250,000<span>تومان</span></span>
                                <span>4,950,000<span>تومان</span></span>
                            </div>
                            <a href="#" title=""></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product__item">
                            <div class="product__image">
                                <img src="~/Content/NewDesign/assets/img/item_1.jpg" title="" alt="">
                            </div>
                            <div class="product__title">
                                <h2>دوربین دیجیتالی کانن</h2>
                            </div>
                            <div class="product__price">
                                <span class="product__price__old">5,250,000<span>تومان</span></span>
                                <span>4,950,000<span>تومان</span></span>
                            </div>
                            <a href="#" title=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </section>