<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta name="author" content="Reza Dadkhah">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>آترین</title>
	<meta name="description" content="description">
	<link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon">

	<link rel="apple-touch-icon" sizes="512x512" href="./assets/img/icon-512.png">
	<link rel="apple-touch-icon" sizes="192x192" href="./assets/img/icon-192.png">
	<link rel="apple-touch-icon-precomposed" href="./assets/img/icon-192.png">
	<link rel="icon" sizes="192x192" href="./assets/img/icon-192.png">

	<meta property="og:site_name" content="socials.title">
	<meta property="og:title" content="socials.title">
	<meta property="og:image" content="socials.thumbnail">
	<meta property="og:url" content="socials.url">
	<meta property="article:author" content="socials.author">
	<!-- Main Style -->

	<link href="~/Content/NewDesign/assets/css/style.css" rel="stylesheet">
	<link href="~/Content/Product/assets/css/style.css" rel="stylesheet">


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	@RenderSection("header", false)

</head>
<body style="overflow-x:hidden">
	@{ var db = new WebApplication1.Models.DBContext();}

	<header class="main-header">
		<div class="main-header__top">
			<div class="container">
				<div class="main-header__top__wrapper">
					<!-- toggle mobile menu -->
					<div class="main-header__mobile-menu-toggle">
						<a href="#" title=""></a>
					</div>
					<!-- logo link and image -->
					<div class="main-header__logo">

						<a href="#" title=""><img src="~/Content/__assets/img/logo.png" title="" alt=""><span>آترین</span></a>
					</div>
					<!-- search -->
					<form method="get" action="/Products/Search" >
						<div class="main-header__search">
							<input type="text" name="Name" placeholder="جستجو ...">
							<button type="submit"><i class="at-search"></i></button>
						</div>
					</form>
		
					<!-- left links -->
					<div class="main-header__links">
						<!-- left user profile or register link -->
						<div class="main-header__links__profile">
							<a href="#" title=""><i class="at-account"></i><span>ورود به حساب کاربری</span></a>
							<!-- left user profile submenu (just user logged in) -->
							<div class="main-header__links__profile__menu">
								<ul>
									<li><a href="#" title="">خرید های من</a></li>
									<li><a href="#" title="">تراکنش های من</a></li>
									<li><a href="#" title="">خروج</a></li>
								</ul>
							</div>
						</div>
						<!-- left menu -->
						<div class="main-header__links__menu">
							<ul>
								<li><a href="/CompanyAgentUser/Index" title="">ورود شرکت ها</a></li>
								<li><a href="/ShowNews/Index" title="">اخبار</a></li>
							</ul>
						</div>
						<!-- left cart icon -->
						<div class="main-header__links__cart">
							<a href="#" title=""><i class="at-cart"></i><span>3</span></a>
							<!-- left cart submenu -->
							<div class="main-header__links__cart__menu">
								<ul>
									<li><a href="#" title="">خرید های من</a></li>
									<li><a href="#" title="">تراکنش های من</a></li>
									<li><a href="#" title="">خروج</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-header__bottom">
			@{


				var ct = db.Categories.Where(p => p.Parent == null).ToList();
				<div class="container">
					<!-- main menu here -->
					<nav>
						<ul>
							@for (int i = 0, counter = 0; i < ct.Count; i++)
							{


								<li>
									<a href="#" title="">@ct[i].Name</a>
									@{
										int id = ct[i].Id;
										var children = db.Categories.Where(p => p.Parent.Id == id).ToList();

									}
									@if (children.Count() != 0)
									{
										<div class="main-header__bottom__mega">
											<div class="container">
												<ul>
													@for (int j = 0; j < children.Count; j++)
													{


														<li><a href="/Categories/Index?Category_Id=@children[j].Id" title="" style="color:#049caf;font-size:16px">@children[j].Name</a></li>


														int id2 = children[j].Id;
														var grandchild = db.Categories.Where(p => p.Parent.Id == id2).ToList();

														if (grandchild.Count() != 0)
														{
															for (int k = 0; k < grandchild.Count; k++)
															{
																<li><a href="/Categories/Index?Category_Id=@grandchild[k].Id" title="">@grandchild[k].Name</a></li>
															}
														}
													}


												</ul>
											</div>
										</div>

									}

								</li>
							}
							@*<li>
									<a href="#" title="">لوازم خانگی</a>

									<div class="main-header__bottom__mega">
										<div class="container">
											<ul>
												<li><a href="#" title="">خودرو و لوازم</a></li>
												<li><a href="#" title="">صنف پوشاک</a></li>
												<li><a href="#" title="">تجهیزات ورزشی سفر</a></li>
												<li><a href="#" title="">صنف کالای دیجیتال</a></li>
												<li><a href="#" title="">صنف لوازم برقی</a></li>
												<li><a href="#" title="">صنف صنایع دستی</a></li>
												<li><a href="#" title="">هایپر</a></li>
												<li><a href="#" title="">خودرو و لوازم</a></li>
												<li><a href="#" title="">صنف پوشاک</a></li>
												<li><a href="#" title="">تجهیزات ورزشی سفر</a></li>
												<li><a href="#" title="">صنف کالای دیجیتال</a></li>
												<li><a href="#" title="">صنف لوازم برقی</a></li>
												<li><a href="#" title="">صنف صنایع دستی</a></li>
												<li><a href="#" title="">هایپر</a></li>
												<li><a href="#" title="">خودرو و لوازم</a></li>
												<li><a href="#" title="">صنف پوشاک</a></li>
												<li><a href="#" title="">تجهیزات ورزشی سفر</a></li>
												<li><a href="#" title="">صنف کالای دیجیتال</a></li>
												<li><a href="#" title="">صنف لوازم برقی</a></li>
												<li><a href="#" title="">صنف صنایع دستی</a></li>
												<li><a href="#" title="">هایپر</a></li>
												<li><a href="#" title="">خودرو و لوازم</a></li>
												<li><a href="#" title="">صنف پوشاک</a></li>
												<li><a href="#" title="">تجهیزات ورزشی سفر</a></li>
												<li><a href="#" title="">صنف کالای دیجیتال</a></li>
												<li><a href="#" title="">صنف لوازم برقی</a></li>
												<li><a href="#" title="">صنف صنایع دستی</a></li>
												<li><a href="#" title="">هایپر</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li><a href="#" title="">خودرو و لوازم</a></li>
								<li><a href="#" title="">صنف پوشاک</a></li>
								<li><a href="#" title="">تجهیزات ورزشی سفر</a></li>
								<li><a href="#" title="">صنف کالای دیجیتال</a></li>
								<li><a href="#" title="">صنف لوازم برقی</a></li>
								<li><a href="#" title="">صنف صنایع دستی</a></li>
								<li><a href="#" title="">هایپر</a></li>*@
						</ul>
					</nav>
				</div>
			}
		</div>
	</header>



	@RenderBody()


	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<!-- footer box -->
					<div class="main-footer__box main-footer__box--nth-1">
						<!-- footer box title -->
						<div class="main-footer__title">
							<h3>خدمات مشتریان</h3>
						</div>
						<!-- footer box content -->
						<div class="main-footer__content">
							<ul>
								<li><a href="#" title="">سوالات متداول</a></li>
								<li><a href="#" title="">سیاست حفظ حریم خصوصی</a></li>
								<li><a href="#" title="">خدمات مشتریان</a></li>
								<li><a href="/Complaint/Create" title="">ثبت شکایات</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="main-footer__box main-footer__box--nth-2">
						<div class="main-footer__title">
							<h3>درباره سرزمین تجارت</h3>
						</div>
						<div class="main-footer__content">
							<ul>
								<li><a href="/Home/AboutUs" title="">درباره ما</a></li>
								<li><a href="/Home/CallUs" title="">تماس با ما</a></li>
								<li><a href="/Home/HowToWork" title="">قوانین و مقررات</a></li>
								<li><a href="/wholeSaler/Index" title="">همکاری با ما</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="main-footer__box main-footer__box--nth-3">
						<div class="main-footer__title">
							<h3>پاسخ به پرسش های متداول</h3>
						</div>
						<div class="main-footer__content">
							<ul>
								<li><a href="#" title="">رویه های بازگرداندن کالا</a></li>
								<li><a href="#" title="">شرایط استفاده</a></li>
								<li><a href="#" title="">حریم خصوصی</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="main-footer__box main-footer__box--nth-4">
						<div class="main-footer__title">
							<h3>ما را دنبال کنید</h3>
						</div>
						<div class="main-footer__content">
							<div class="main-footer__socials">
								<ul>
									<li><a href="#" title=""><i class="at-telegram"></i></a></li>
									<li><a href="#" title=""><i class="at-instagram"></i></a></li>
								</ul>
							</div>
							<div class="main-footer__newsletter">
								<p>از تخفیفات ویژه با خبر شوید</p>
								<div class="main-footer__newsletter__form">
									<form action="/Home/SendEmail" method="post">
										<input type="email" name="Email" placeholder="ایمیل">
										<button>عضویت</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer copyright -->
		<div class="main-footer__cpright">
			<div class="container">
				<p>تمامی حقوق این سایت برای فروشگاه سرزمین تجارت (sarzamintejarat.com) محفوض است</p>
				<p>طراحی و توسعه آترین فناوران</p>
			</div>
		</div>
	</footer>
	<!-- mobile menu -->
	<div class="mobile-menu">
		<div class="mobile-menu__close-menu"></div>
		<nav>
			<ul>
				<li><a href="#" title="">پروفایل</a></li>
				<li>
					<a href="#" title="">درباره ما</a>
					<ul>
						<li><a href="#" title="">پروفایل</a></li>
						<li><a href="#" title="">درباره ما</a></li>
						<li><a href="#" title="">قوانین و مقررات</a></li>
					</ul>
				</li>
				<li><a href="#" title="">قوانین و مقررات</a></li>
			</ul>
		</nav>
	</div>
	@RenderSection("footer", false)

	<script src="~/Content/__assets/js/jquery.min.js"></script>
	<script src="~/Content/__assets/js/popper.min.js"></script>
	<script src="~/Content/__assets/js/bootstrap.min.js"></script>
	<script src="~/Content/__assets/js/swiper.min.js"></script>
	<script src="~/Content/__assets/js/jquery.countdown.min.js"></script>
	<script src="~/Content/__assets/js/sweetalert2.min.js"></script>
	<script src="~/Content/__assets/js/scripts.js"></script>
	<script src="~/Content/Product/assets/js/scripts.js"></script>
	<script src="~/Content/NewDesign/assets/js/scripts.js"></script>
	@if (TempData["Message"] != null)
	{

		if (Convert.ToInt32(TempData["Message"]) == 1)
		{
			<script>

				swal("انجام شد", "ایمیل شما دریافت شد", "success");
			</script>
		}
		else if (Convert.ToInt32(TempData["Message"]) == -1)
		{
			<script>

				swal("خطا", "ایمیل را به فرمت صحیح وارد کنید", "warning");
			</script>
		}
		else if (Convert.ToInt32(TempData["Message"]) == -2)
		{
			<script>

				swal("", "ایمیل قبلا در سیستم ثبت شده است", "warning");
			</script>
		}
	}
</body>

</html>