@model WebApplication1.Models.Plannn

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Master.cshtml";
}

<div class="row" >
    <div class="col-xs-12" >
        <div class="box">

            <p class="text text-danger" style="margin-top:5px;margin-right:10px;"> @TempData["RepeatError"]</p>
            <div class="text-center text-blue" style="border-style:solid;">
                <h2>ثبت پلن</h2>
            </div>

            @*@using (Html.BeginForm("Create",
                        "MarketerPlans",
                        FormMethod.Post, new { enctype = "multipart/form-data" }))
            {*@
                <form id="submit_form" enctype="multipart/form-data" method="post" action="/Admin/MarketerPlans/Create">



                    <div class="form-horizontal" style="margin-left:400px">

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Level, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Level, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                        @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @*@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })*@
                                <input class="form-control" onkeyup="numberWithCommas(this)" name="Price" id="Price" />
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PlanTypeID, "نوع پلن", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("PlanTypeID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PlanTypeID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <label for="exampleInputEmail1" style="margin-right:40px;">انتخاب تصویر </label>
                        <div class="form-group" style="margin-right:100px;">
                            <input style="width:712px;margin-right:50px" name="Main_Image" type="file" class="form-control" id="Main_Image_Upload" onchange="setImage()">
                            <br />
                            <img alt="بدون تصویر" id="Main_Image_Show" style="width:150px;height:150px;margin-right:50px" src="" />
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" onclick="mysubmit(this)" value="ثبت" class="btn btn-success" style="margin-bottom:5px;" />
                            </div>
                            <p class="text text-danger" style="margin-right:20px">  @TempData["Error"]</p>
                        </div>
                    </div>
                    </form>
            </div>
        </div>
    </div>
<div>
    <a class="btn btn-warning" href="/Admin/MarketerPlans/Index"> بازگشت</a>
</div>
<script>

    function setImage() {

        var myURL = window.URL || window.webkitURL;
        var fileURL = myURL.createObjectURL(Main_Image_Upload.files[0]);
        Main_Image_Show.src = fileURL;
    }
</script>
<script>
    function mysubmit(t) {
        if (document.activeElement == t) {

            while (Price.value.indexOf(',') != -1) {
                Price.value = Price.value.replace(',', '');
            }

            submit_form.submit();
        }
    }
</script>